<<<<<<< HEAD
#body-login #email, #body-login #username, #body-login #password {
	width: 223px;
	padding-left: 36px;
=======
input[type="email"], input[type="text"], input[type="password"] {
	width: 223px !important;
	padding-left: 36px !important;
>>>>>>> 8717ac4... Update# new sign up form
}

form img.svg {
	position: absolute;
	left: 16px;
	top: 22px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: .3;
}
#username-icon {
	top: 17px;
}

.msg {
	color: white;
	margin: 5px;
}
.msg a {
	color: white;
	text-decoration: underline;
}

.groupofone {
	position: relative;
}
